@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

body {
  background-color: aliceblue;
}

.allButtons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
}

.assistant {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.assistant-image {
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
.message {
  position: relative;
}
.explanation {
  position: absolute;
  width: 358px;
  top: 13%;
  left: 35%;

  color: var(--Grey, #616163);
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 151.3%;
}

@media (max-width: 700px) {
  .allButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .explanation {
    left: 0;
    margin-top: 20px;
  }
}
